table,th,td {
    border : 1px solid black;
    border-collapse: collapse;
    margin: 15px;
  }

th,td {
    padding: 5px;
  }

body {
    padding: 0px;
    overflow-x: hidden;
}

.card {
    margin: 15px;
}

#title {
    padding: 15px;
    background-color: black;
    color: white;
}

.container-fluid{
  padding: 0px!important;
}

footer{
  background-color: black;
  height: 100px;
  padding: 15px;
  color: white;
  text-align: center;
}

.btn-primary{
  background-color: black!important;
}